header.topHeader{
    display: flex;
    background-color: #424D84;
    color: #edecee;
    padding: 20px; 
    font-weight: 600;
    font-size: 30px;
}
header.topHeader img{
    height: 50px;
    width: 50px;
    margin-right: 5px;
}
header.topHeader button{
    margin-left: 15px;
    height: 45px;
    padding-left: 15px; 
    padding-right: 15px;
    background-color: #edecee;
    color: #424D84;
    border-color: #edecee;
    border-width: 2px;
    border-radius: 10px;
    font-size:20px;
}

header.topHeader .leftContainer{
    width: 50%;
    display: flex;
    justify-content:flex-start;

}
header.topHeader .rightContainer{
    width: 50%;
    display: flex;
    justify-content:flex-end;

}
header.topHeader button.Enter{
    color: #edecee;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #424D84;
    border-color: #edecee;
    border-width: 2px;
    border-radius: 10px;
}
header.topHeader .LinkEnter{
    margin: 5px;
    width:79.25px;
    height: 45px;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}
header.topHeader button.Registration{
    margin: 0;
    color: #424D84;
    background-color: #edecee;
    border-color: #edecee;
    border-width: 2px;
    border-radius: 10px;
}
header.topHeader .LinkRegistration{
    margin: 5px;
    width: 151px;
    height: 45px;
}

header.botHeader{
    width: 100%;
    display: flex;
    background-color: #edecee;
    color: #222f68;
    font-weight: 600;
}
header.botHeader button{
    cursor:pointer;
    font-size: 20px;
    color: #323d6d;
    
    background-color: #edecee;
    border: 0px;
    border-width: 0px;
    border-radius: 0px;
}
header.botHeader .Link{
    margin-bottom: 10px;
    height: 40px;
    width: 15%;
    cursor:pointer;
    font-size: 25px;
    color: #323d6d;
    
    background-color: #edecee;
    border: 0px;
}